@charset "utf-8";

.DropDownListBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CCCCCC;
	padding: 1px;
	height: 22px;
	width: 180px;
}
.Toplink {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #222222;
}
a.Toplink:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #222222;
	text-decoration:none;
	font-weight:bold;
	padding-left:7px;
}
a.Toplink:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #222222;
	text-decoration:none;
	font-weight:bold;
	padding-left:7px;
}
a.Toplink:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #006e3a;
	text-decoration:none;
	font-weight:bold;
	padding-left:7px;
}
.Link1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
a.Link1:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #fff;
	text-decoration:underline;
	padding-left:7px;
}
a.Link1:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #fff;
	text-decoration:underline;
	padding-left:7px;
}
.redpricetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #e70000;
}

a.Link1:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #000;
	text-decoration:none;
	padding-left:7px;
}
.GBorderTop {
	border-top: solid 1px #14793a;
	background-color:#fff;
}
.GBorderBottom {
	border-bottom: solid 1px #14793a;
	background-color:#fff;
}
.GBorderLeft {
	border-left: solid 1px #14793a;
	background-color:#fff;
}
.GBorderRight {
	border-right: solid 1px #14793a;
	background-color:#fff;
}
.welcometext{

	font-family:"Times New Roman", Times, serif;
	font-size:21px;
	color:#000101;
	display:block;
	border-bottom:solid 1px #14793a;
	padding-bottom:9px;

	}
.Contenttext{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	line-height:20px;
}
.Boxtext{

	font-family:tahoma;
	font-size:12px;
	color:#000;
	line-height:auto;
}
	
.BoxGreenText{

	font-family:arial;
	font-size:12px;
	color:#005f32;
	font-weight:bold;
	line-height:16px;
}
a.Boxtext:link{
	font-family:tahoma;
	font-size:12px;
	color:#000;
	line-height:auto;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
a.Boxtext:Visited{
	font-family:tahoma;
	font-size:12px;
	color:#000;
	line-height:auto;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
a.Boxtext:hover{
	font-family:tahoma;
	font-size:12px;
	color:#000;
	line-height:auto;
	text-decoration:underline;
	font-weight:bold;
	text-align:center;
}



a.Bluelink:link{
	font-family:tahoma;
	font-size:12px;
	color:#005aff;
	line-height:auto;
	text-decoration:underline;
	font-weight:bold;
	text-align:center;
}
a.Bluelink:Visited{
	font-family:tahoma;
	font-size:12px;
	color:#005aff;
	line-height:auto;
	text-decoration:underline;
	font-weight:bold;
	text-align:center;
}
a.Bluelink:hover{
	font-family:tahoma;
	font-size:12px;
	color:#005aff;
	line-height:auto;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
.Footerlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

a.Footerlink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding-right: 4px;
	padding-left: 4px;
	text-decoration:none;
}
a.Footerlink:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding-right: 4px;
	padding-left: 4px;
	text-decoration:none;
}
a.Footerlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-right: 4px;
	padding-left: 4px;
	text-decoration:none;
}
.fottertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	
}
a.fottertext:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height:19px;
	text-decoration:none;
}
a.fottertext:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height:19px;
	text-decoration:none;
}a.fottertext:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	line-height:19px;
	text-decoration:underline;
}


.goBtnCss
{
background-image: url(../images/go.gif);
background-repeat: repeat-x;
width:23px;
height:23px;
background-color:Transparent;
border:0px;
}


